html *{
    font-family: 'Montserrat', sans-serif;;
    --dark_primary: rgb(39, 37, 37);
    --dark_secondary: rgb(53, 51, 51);
    --light_primary: rgb(233, 229, 229);
    --accent_primary: rgb(44, 119, 218);
}

#mainNav {
    position: relative;
    background-color: var(--dark_primary);
    overflow: hidden;
    width: 100%;
    margin: 0 0;
    padding: 0.5% 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0px 0px 15px 10px rgb(85, 83, 83);
}

#mainNav span{
    position: absolute;
    left: 0;
    float: left;
    color: var(--light_primary);
    margin: 0 0 0 20px;
    top: 50%;
    transform: translateY(-50%);

    font-size: 1.3em;
}

#mainNav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#mainNav li a{
    text-decoration: none;
    margin-right: 40px;
    color: var(--light_primary);
    font-size: 1em;
    border-bottom: 2px solid var(--accent_primary);
    padding-bottom: 3px;
}

#mainNav li a:hover{
    border-bottom: 4px solid var(--accent_primary);
    padding-bottom: 5px;
}

html, body{
    height: 100%
}

body{
    margin: 0;
    background: url(/img/background/Background2.jpg);
}

.welcome{
    position: relative;
    margin: 4% auto 3% auto;
    text-align: center;
}
.welcome span{
    position: relative;
    font-size: 2.8em;
    color: var(--light_primary);

}

#showcases{
    position: relative;
    margin: 0 auto 0 auto; /*Centers horizontally*/
    /*background: rgba(0, 0, 0, 0.219); /*TODO DELETE**/
    height: 62%;
    width: 72%;

    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 30% 30% 30%;
    row-gap: 10%;
    column-gap: 3%;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;

    background: var(--dark_primary);
    width: 100%;
    height: 100%;
    box-shadow: 8px 8px 8px rgb(43, 43, 43);
}

.itemImage{
    background-color: var(--accent_primary);
    min-height: 90%;
    width: 94%;
    padding: 0;
    margin-top: 3%;
    box-shadow: 0px 5px 10px rgb(0, 0, 0);
}

.itemImage img{
    max-width: 100%;
    min-height: 100%;
    height: auto;
    object-fit: cover;
}

.itemHeader{
    background-color: var(--dark_secondary);
    margin-top: -12%;
    min-width: 100%;
    min-height: 12%;
    box-shadow: 0px 10px 10px rgb(19, 19, 19);

    display: flex;
    align-items: center;
    justify-content: center;
}

.itemHeader span{
    color: var(--light_primary);
}